@media (max-width: 700px){
    .menu1{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10vh;
    }
}

@media (max-width: 992px){
    .menu1{
        text-align: center;
        display: grid;
        grid-template-columns: 2fr;
        margin-top: 10vh;
    }
}

@media (max-width: 480px){
    .menu1{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10vh;
    }
}

/** Finmenu1**/

/** Titre**/

@media (max-width: 700px){
    .titre{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }
}

@media (max-width: 992px){
    .titre{   
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }
}

@media (max-width: 480px){
    .titre{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }
}


/***Fin Titre***/


/**Menu2**/



@media (max-width: 700px){
    .menu2{
          text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10vh;
    }
}

@media (max-width: 992px){
    .menu2{   
          text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10vh;
    }
}

@media (max-width: 480px){
    .menu2{
          text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10vh;
    }
}