body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    aspect-ratio:  1 / 1;

  position: relative;

}

.main{
    
    
}

html{
    height: 100%
}
.titre {

    text-align: center;
    color: burlywood;
    display: grid;
    justify-content: center;
    margin-top: 10vh;
    z-index: 1;
}



#barre1 {
    text-align: center;
    height: 0px;
    width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 30px solid burlywood;
}

#barre2 {
    text-align: center;
    height: 0px;
    width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 30px solid burlywood;
    margin-left: 1px; 
    z-index: 1;
}

.menu1 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;
    font-family: 'Merriweather';
    color: grey;
    z-index: 1;
}

.subtitre1 {

    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.subtitre2 {

    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    z-index: 1;

}

#barre3 {
    text-align: center;
    height: 0px;
    width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 30px solid burlywood;
    z-index: 1;
}

#barre4 {
    text-align: center;
    height: 0px;
    width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 30px solid burlywood;
    margin-left: 1px;    
    z-index: 1;
}

.menu2{
    position: relativeS;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;
    font-family: 'Merriweather';
    color: grey;
    z-index: 1;
}

.item4{
    margin-top: 5vh;
    z-index: 1;
}

